@font-face {
    font-family: "Scoreboard";
    src: url('./fonts/scoreboard-font.ttf') format("truetype");
}

@font-face {
    font-family: "Modal";
    src: url('./fonts/modal-font.ttf') format("truetype");
}

@font-face {
    font-family: "Bills Mafia";
    src: url('./fonts/bills-mafia.ttf') format("truetype");
}

body {
    background-image: url('./images/bg2.jpg');
    background-size: 16%;
}

header {
    /* border: 1px solid black; */
}

h1 {
    /* border: 1px solid chartreuse; */
    text-align: center;
    font-family: 'Bills Mafia', Arial, sans-serif;
    color: rgb(156, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 5rem;
    margin: 0;
}

aside {
    background-color: rgb(0, 51, 0);
    font-family: 'Scoreboard', Arial, sans-serif;
    border: 1px solid pink;
    display: inline-block;
    width: 20vw;
    height: 100%;
    text-align: center;
    vertical-align: top;
    border-radius: 20px;
}

.stats {
    color: white;
    /* border: 1px solid green; */
    font-size: 4rem;
}

.stat-box {
    color: gold;
    font-size: 2rem;
    /* border: 1px solid blue; */
}

#down {
    /* border: 2px dashed red; */
    color: darkorange;
}


main {
    display: inline-block;
    /* border: 1px solid hotpink; */
    height: 75vh;
    width: 76vw;
}

.card-container {
    /* border: 1px solid purple; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    /* border: 1px solid red; */
    margin: 0.38%;
    height: 32%;
    width: 15.5%;
    position: relative;
    left: 2%;
}

.q1 {
    height: 32%;
    width: 23%;
}

.q2 {
    height: 27%;
    width: 21%;
}

.q3 {
    height: 32%;
    width: 15%;
}

.q4 {
    height: 25%;
    width: 18.5%;
}

.card {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    /* position: relative; */
    /* left: 2%; */
}

.face {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
} /* mess with the container /card relationship stuff*/

.back {
    background-image: url('./images/back.png');
    position: absolute;
    z-index: 1;
}

.front {
    position: absolute;
}

.a {
    background-image: url('./images/1.PNG');
}

.b {
    background-image: url('./images/2.PNG');
}

.c {
    background-image: url('./images/3.PNG');
}

.d {
    background-image: url('./images/4.PNG');
}

.e {
    background-image: url('./images/5.PNG');
}

.f {
    background-image: url('./images/6.PNG');
}

.g {
    background-image: url('./images/7.PNG');
}

.h {
    background-image: url('./images/8.PNG');
}

.i {
    background-image: url('./images/9.PNG');
}

.j {
    background-image: url('./images/10.PNG');
}

.hidden {
    display: none;
}



/* The Modal (background) */
.modal {
    background-color: black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: auto;
    top: 5vh;
    width: 73vw; /* Full width */
    height: 90vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    font-family: 'Modal', Arial, sans-serif;
    background-image: url('./images/welcome-bg.jpg');
    background-size: cover;
    border-radius: 30px;

  }
  
  /* Modal Content/Box */
 .modal-content {
    /* height: 100%; */
    margin: 3% auto; /* 3% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 1.5rem;
    /* background-image: url('./images/welcome-bg.jpg');
    background-size: cover; */
  }

  .welcome-modal {
    color: black;
    text-align: center;
    width: 45%;
}

h2 {
    width: 43vw;
    font-size: 2.7rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.instr-heading {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.instruction-container {
    width: 95vh;
    background-color: rgb(200, 98, 98);
    border-radius: 15px;
}

.instructions {
    text-align: left;
    margin-left: 1%;
    margin-top: 2%
}

#play-button {
    border: 1px solid red;
    cursor: pointer;
    font-size: 2.3rem;
    width: 63vh;
    height: 16vh;
    margin-top: 12%;
    margin-left: 30%;
    background-color: rgb(9, 14, 85);
    color: white;
    font-family: 'Modal', Arial, sans-serif;
    border-radius: 20px;
}
#play-button:hover {
    background-color: darkgreen;
    color: white;
}
img {
    float: right;
    height: 34vh;
    margin-left: -15%;
    border-radius: 15px;;
}
 .lost-modal {
    color: maroon;
    text-align: center;
    width: 45%;
}

.won-modal {
    color: darkgreen;
    text-align: center;
    width: 45%;
}

.quarter-modal {
    color: black;
    text-align: center;
    width: 45%;
}

.sound-modal h2 {
    margin-left: 13%;
    text-align: center;
    font-size: 2.35rem;
}

.sound-pref {
    font-size: 2.35rem;
    text-align: left;
    height: 9vh;
    color: rgb(126, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#sounds-go {
    font-family: 'Modal', Arial, sans-serif;
}

input {
    zoom: 3;
}

.options-container{
    /* border: 2px solid gold; */
    height: 45vh;
    width: 40vw;
    margin-top: 15%;
}

.options-buttons {
    width: 85%;
    height: 25%;
    margin: auto;
    margin-top: 3%;
    font-family: 'Modal', Arial, sans-serif;
    font-size: 2.6rem;
    border-radius: 20px;
}

.continue {
    border: 1px solid darkgreen;
    background-color: green;
    cursor: pointer;
}
.continue:hover {
    background-color: darkgreen;
    color: white;
}

.start-over {
    border: 1px solid rgb(9, 14, 85);
    background-color: rgb(37, 50, 238);
    cursor: pointer;
}
.start-over:hover {
    background-color: rgb(9, 14, 85);;
    color: white;
}

.quit {
    border: 1px solid maroon;
    background-color: red;
    cursor: pointer;
}
.quit:hover {
    background-color: maroon;
    color: white;
}
#view-pref {
    font-size: 1rem;
    margin-top: 8%;
    color: green;
}

@media screen and (max-width: 813px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 1.5rem;
    }
    aside{
        height: 50%;
    }
    .stats{
        font-size: 3rem;
    }
    .stat-box{
        font-size: 1.8rem;
    }
    .sound-modal h2{
        font-size: 2rem;
    }
    .sound-pref{
        font-size: 2rem;
    }
    input{
        zoom:1.9;
        margin-top: 5px;
        margin-left: 33px;
    }
    .instruction-container{
        width:245%;
    }
    .modal-content{
        font-size: 1rem;
    }
    #play-button{
        font-size: 1.3rem;
        width: 84vh;
        height: 15vh;
        margin-top: 2%;
        margin-left: 47%;
    }
    .options-buttons{
        width: 113%;
        height: 33%;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 736px) {
    h1{
        font-size: 2.6rem;
    }
    h2{
        font-size: 1.5rem;
    }
    aside{
        height: 50%;
    }
    .stats{
        font-size: 3rem;
    }
    .stat-box{
        font-size: 1.8rem;
    }
    .sound-modal h2{
        font-size: 2rem;
    }
    .sound-pref{
        font-size: 2rem;
    }
    input{
        zoom:1.9;
        margin-top: 5px;
        margin-left: 33px;
    }
    .instruction-container{
        width:245%;
    }
    .modal-content{
        font-size: 1rem;
    }
    #play-button{
        font-size: 1.3rem;
        width: 84vh;
        height: 15vh;
        margin-top: 2%;
        margin-left: 47%;
    }
    .options-container{
        margin-top: 34%;
    }
    .options-buttons{
        width: 113%;
        height: 33%;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 667px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    aside{
        height: 50%;
    }
    .stats{
        font-size: 3rem;
    }
    .stat-box{
        font-size: 1.8rem;
    }
    .sound-modal h2{
        font-size: 2rem;
    }
    .sound-pref{
        font-size: 1.7rem;
    }
    input{
        zoom:1.9;
        margin-top: 5px;
        margin-left: 33px;
    }
    .instruction-container{
        width:244%;
    }
    .modal-content{
        font-size: .9rem;
    }
    #play-button{
        font-size: 1.3rem;
        width: 115vh;
        height: 10vh;
        margin-top: 2%;
        margin-left: -2%;
    }
    .options-buttons{
        width: 113%;
        height: 33%;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 475px) {
    #view-pref{
        animation:blinkingText 0.8s infinite;
    }
    @keyframes blinkingText{
        0%{     color: green;    }
        49%{    color: red; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: green;    }
    }
    input{
        margin-top: 11%;
    }
}