header {
    border: 1px solid black;
}

h1 {
    border: 1px solid chartreuse;
}

aside {
    border: 1px solid pink;
    display: inline-block;
    width: 20vw;
    height: 42vh;
    text-align: center;
    vertical-align: top;
}

.stats {
    border: 1px solid green;
    font-size: 7vh;/*2.5rem;*/
    /* text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white; */
}

.stat-box {
    border: 1px solid blue;
}

main {
    display: inline-block;
    border: 1px solid hotpink;
    height: 75vh;
    width: 76vw;
}

.card-container {
    border: 1px solid purple;
    /* width: 80%; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid red;
    height: 32%;
    width: 15.5%;
    position: relative;
    left: 2%;
}

.face {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.back {
    background-image: url('./images/card-back.PNG');
    position: absolute;
    z-index: 1;
}

.front {
    position: absolute;
}

.a {
    background-image: url('./images/1.PNG');
}

.b {
    background-image: url('./images/2.PNG');
}

.c {
    background-image: url('./images/3.PNG');
}

.d {
    background-image: url('./images/4.PNG');
}

.e {
    background-image: url('./images/5.PNG');
}

.f {
    background-image: url('./images/6.PNG');
}

.g {
    background-image: url('./images/7.PNG');
}

.h {
    background-image: url('./images/8.PNG');
}

.i {
    background-image: url('./images/9.PNG');
}

.hidden {
    display: none;
}